body{
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-align: center;
	margin: 0;
}

header{
	background-color: #f15b31;
	color: #ffffff;
	padding: 30px 20px;
}

nav{
	background-color: #00a6b3;
	color: #ffffff;
	padding:20px 0;
}
nav a{
	border-bottom: 2px solid transparent;
}
a:hover{
	border-color: white;
}

main{
	margin:35px auto;
	width: 850px;
}

h1{
	font-weight: 400;
	font-size: 45px;
	text-transform: uppercase;
}

a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	margin:0 20px;
}

h2{
	color: #0d2c40;
	font-size: 20px;
	text-transform: uppercase;
}

p{
	font-family: "Droid Serif", serif;
	font-weight: 100;
	line-height: 26px;
}

img{
	margin:40px 8px;
}

footer{
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0d2c40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.copyright{
	float:left;
}
.message{
	float:right;
}
.name{
	color: #f15b31;
	font-weight:700;
}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}